* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .achievements {
    margin: 150px 0;

    h1 {
        font-size: 2em;
        margin-bottom: 20px;
        color: #6E1E21;
        text-align: center;
      }
  
    .achievements-container {
        margin: 0 auto;
        text-align: center;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
  
      ul {
        list-style: none;
  
        li {
          margin-bottom: 15px;
          background-color: #F1EDE6;
          padding: 15px;
          border-radius: 10px;
  
          p {
            font-size: 1.2em;
            color: #6E1E21;
          }
        }
      }
  
      .left-side {
        display: flex;
        flex-direction: column;
      }
  
      .right-side {
        width: 350px;
        height: auto;

        img {
          width: 100%;
          height: auto;
          border-radius: 10px;
        }
      }
    }
  }
  