* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h3 {
    margin: 30px 0px;
    text-align: center;
    padding: 20px 225px;
}

.teachers {
    margin: 100px 0;

    h1 {
        font-size: 2em;
        margin-bottom: 20px;
        color: #6E1E21;
        text-align: center;
    }

    .teachers-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 100px 160px;
        margin: 0 auto;

        .teacher {
            width: 300px;
            margin-bottom: 30px;
            text-align: center;

            .teacher-img {
                overflow: hidden;
                border-radius: 50%;
                width: 200px;
                height: 200px;
                margin: 0 auto;
            }

            img {
                width: 100%;
                height: 100%;
            }

            h2 {
                font-size: 1.5em;
                margin-bottom: 10px;
                color: #333;
            }

            p {
                font-size: 1em;
                color: #666;
            }
        }
    }
}
