* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h3 {
  margin: 30px 0px;
  text-align: center;
  padding: 20px 225px;
}

.teachers {
  margin: 100px 0;
}
.teachers h1 {
  margin-bottom: 20px;
  text-align: center;
}
.teachers .teachers-container {
  display: flex;
  gap: 10px;
}